{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset ="utf-8">
    <title>Blog comunidad</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">  
    <link href='http://fonts.googleapis.com/css?family=Rum+Raisin|Lato' rel='stylesheet'>
    </head>
    <body>
        <header>
            <h1><a href="/">Blog Comunidad</a></h1>
            <figure>
                <a href="https://mejorando.la/" target="_blank">
                    <img src="{% static "img/mejorandola.jpg" %}" alt="Mejorando.la">
                </a>
            </figure>
            <figure>
                <a href="https://cursos.mejorando.la/" target="_blank">
                    <img src="{% static "img/platzi-logo.jpg" %}" alt="Platzi">
                </a>
            </figure>
            <figure>
                <a href="https://github.com/josedeweb/blogcomunidad" target="_blank">
                    <img src="{% static "img/github.png" %}" alt="GitHub">
                </a>
            </figure>
            <figure>
                <a href="https://twitter.com/josedeweb" target="_blank">
                    <img src="{% static "img/twitter.png" %}" alt="@josedeweb">
                </a>
            </figure>
        </header>
        <section class="container">
            {% block content %} {% endblock %}
        </section>
    </body>

</html>
